li {
  height: 90px;
  width: 150px;
  /*float: left;*/
  list-style-type: none;
  display: inline-block;
  border-bottom: 5px solid black;
  margin: 20px;
}

li:hover {
  background: red;
}

ul {
  height: 100px;
  margin: 0;
  /*border: 5px solid black;*/
  /*width: 20px;*/
}
